name: Erlang CI

on:
  push:
  pull_request:

jobs:


  test:
    runs-on: ubuntu-latest
    strategy: 
      matrix:
        erlang: [ 21,22,23,24 ]

    container:
      image: erlang:${{ matrix.erlang }}

    steps:
    - uses: actions/checkout@v2
    - run: make compile
    - name: Run epmd
      run: epmd -daemon
    - name: System Tests
      run: make ct

